$showHide-button-size: 50px;

* {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    line-height: 1.25;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 20vh;
    background: #444;
}

h1 {
    margin: 0.5cm 0;
    font-size: 1.5em;
}

input {
    text-align: center;
    border-radius: 10px;
    padding: 5px 32px;
    border-style: solid;
    border-color: #fff;

    &:hover,
    &:focus {
        border-color: #666;
    }
}

button {
    border-radius: 10px;
    padding: 5px;
    border: none;
    background: #eee;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

header,
footer {
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0 2.5cm;
    color: #888;
}

header {
    top: 1.25cm;
}

header span,
footer span {
    display: inline-block;
    font-size: 0.8em;
    width: calc((100% - 5cm) / 3);
}

footer {
    bottom: 1.25cm;
}

article {
    margin-bottom: 0.5cm;
}

/* MODAL */
.modalforklaring {
    position: absolute;
    display: none;
    width: 80vw;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background: rgb(220, 220, 220);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    z-index: 50;

    & button {
        width: 100px;
        border: 1px solid #000;
    }
}

.verktyg {
    position: absolute;
    padding: 0 21px;
    top: 0vh;
    z-index: 5;
    background: #000;
    border-radius: 0 10px 10px 0;

    &[data-hidden=true] {
        position: fixed;
        width: $showHide-button-size;
        height: $showHide-button-size;
        padding: 0;
        top: 0;
        left: 0;
        bottom: auto;
        right: auto;
        overflow: hidden;
    }

    &[data-hidden=true] ul {
        display: none;
    }

    & ul {
        list-style: none;

        & li {
            position: relative;
            text-align: center;
            margin: 20px 0;

            &:hover,
            &:focus {
                text-decoration: underline;
            }

            & a {
                color: #000;
                text-decoration: none;
                text-transform: uppercase;
                background: #fff;
                padding: 5px 10px;
                border-radius: 10px;
            }
        }
    }
}

.uppgifter {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 60vw;
    padding: 20px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    z-index: 2000; //FIXME:

    &[data-hidden=true] {
        position: fixed;
        width: $showHide-button-size;
        height: $showHide-button-size;
        transform: translate(50%, 50%);
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    &[data-hidden=true] .innehall {
        display: none;
    }

    & form div {
        margin: 10px 0;
    }

    & input,
    & textarea,
    & select {
        display: block;
        padding: 5px;
        min-width: 300px;
        border-radius: 10px;
    }

    & hr {
        margin: 10px;
    }

    & .textNuvarande {
        margin-top: 20px;
        font-style: italic;
    }
}

.showHide {
    height: $showHide-button-size;
    width: $showHide-button-size;
    position: absolute;
    cursor: pointer;

    &::after {
        content: "<"; //TODO: tillfällig lösning
        position: absolute;
        font-size: 25px;
    }

    &:hover:after {
        font-size: 30px;
    }


    .uppgifter[data-hidden=false] &,
    .verktyg[data-hidden=true] & {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1));
        bottom: 0;
        right: 0;

        &::after {
            bottom: 0px;
            right: 4px;
            transform: rotateZ(-135deg);
        }

        &:hover {
            border-right: 1px solid #ffffffe0;
            border-bottom: 1px solid #ffffffe0;
        }
    }

    .uppgifter[data-hidden=true] &,
    .verktyg[data-hidden=false] & {
        background: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)50%);
        top: 0;
        left: 0;

        &::after {
            top: -2px;
            left: 4px;
            transform: rotateZ(45deg);
        }

        &:hover {
            border-left: 1px solid #ffffffe0;
            border-top: 1px solid #ffffffe0;
        }
    }
}

// .doljVisa {
//     outline: none;
//     border-radius: 100%;
//     padding: 10px 15px;
//     color: #fff;
//     background: #000;
//     border: 1px solid #000;
//     position: absolute;
//     transform: translate(-50%, -50%);
//     top: 50%;
//     left: 100%;

//     &:hover,
//     &:focus {
//         border-color: #fff;
//     }
// }

.jobbtitel,
.kontakt {
    text-align: center;
}

.markning,
.sidnr {
    text-align: right;
}

.val {
    margin: 2vh auto;
    text-align: center;

    &>button,
    &>div {
        margin: 10px;
    }
}

.hamtaAnnonsContainer {
    display: block;
    position: relative;
    text-align: center;
}

.annonsId-label {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.annonsId {
    border: 1px solid #000;
}

.hamtaAnnons {
    width: 40px;
    border-radius: 10px;
    background: #1a84ff;

    &:hover {
        border: 1px solid #000;
    }
}

.sida {
    //TODO: ändra outline när det går att tabba runt inne i sidan*/
    outline: none;
    background: #fff;
    position: relative;
    height: 297mm;
    width: 210mm;
    padding: 2.5cm;
    border: 1px solid #444;
    overflow: hidden;
    margin: 0 auto;
}

.beskrivning {
    text-transform: uppercase;
    font-size: 0.75em;
    background: #444;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 2px;
}

.tom {
    position: relative;
    margin-right: 0.2em;
    font-weight: bolder;
    font-style: italic;

    &:hover {
        border: 1px solid #000;
        border-radius: 10px;
        padding: 0 4px;
    }

    &:hover::after {
        content: "Du har ännu inte skrivit något om detta ord!";
        position: absolute;
        background: #000;
        color: #fff;
        font-size: 0.7em;
        width: 235px;
        padding: 2px;
        z-index: 20;
        left: 0;
        top: 100%;
    }
}

.motivering {
    margin-right: 0.2em;
    position: relative;
    transition: background 0.25s ease;

    &:hover {
        background: #eee;
        transition: background 0.25s ease;

        & .forklaring {
            display: inline;
        }
    }

    .forklaring {
        display: none;
        position: absolute;
        left: 0;
        top: -1.25em;
        background: #666;
        color: #fff;
        font-weight: bolder;
        font-size: 0.8em;
        padding: 0 5px;
        border-radius: 10px;
    }
}

@media print {

    body * {
        visibility: hidden;
    }

    .sida,
    .sida * {
        visibility: visible;
        border: none;
    }

    .motivering:hover .forklaring {
        display: none;
    }

    .beskrivning {
        display: none;
    }

    .tom {
        display: none;
    }

    .sida {
        position: absolute;
        top: 0;
        left: 0;
        /* oklart varför förändringen nedan behövs */
        height: 315mm;
    }
}