* {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    line-height: 1.25;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 20vh;
    background: #444;
}

a,
a:visited {
    color: #fff;
}

h1 {
    margin: 0.5cm 0;
    font-size: 1.5em;
}

input {
    text-align: center;
    border-radius: 10px;
    padding: 5px 32px;
    border-style: solid;
    border-color: #fff;

    &:hover,
    &:focus {
        border-color: #666;
    }
}

button {
    border-radius: 10px;
    padding: 5px;
    border: none;
    background: #eee;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

header,
footer {
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0 2.5cm;
    color: #888;
}

header {
    top: 1.25cm;
}

header span,
footer span {
    display: inline-block;
    font-size: 0.8em;
    width: calc((100% - 5cm) / 3);
}

footer {
    bottom: 1.25cm;
}

article {
    margin-bottom: 0.5cm;
}

/* MODAL */
.modalforklaring {
    position: absolute;
    display: none;
    width: 80vw;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background: rgb(220, 220, 220);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    z-index: 50;

    & button {
        width: 100px;
        border: 1px solid #000;
    }
}

.fa-times-circle {
    position: absolute;
    right: 5px;
    top: 5px;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.modal {
    position: fixed;
    top: 15vh;
    // top: 50vh;
    left: 50vw;
    transform: translate(-50%, 0);
    max-width: 80vw;
    padding: 20px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    z-index: 2000; //FIXME:

    &[data-hidden=true] {
        left: 201vw;
        transform: translate(0);
    }

    &[data-hidden=false] {
        min-width: 350px;
    }

    & form div {
        margin: 10px 0;
    }

    & input,
    & textarea,
    & select {
        display: block;
        padding: 5px;
        min-width: 300px;
        border-radius: 10px;
    }

    & hr {
        margin: 10px;
    }
}

.verktyg {
    &[data-hidden=true] ul {
        display: none;
    }

    & ul {
        list-style: none;

        & .container-sistaAnsokDag {
            color: #fff;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            & .sistaAnsokDag {
                font-weight: bold;
            }
        }

        & li {
            position: relative;
            text-align: center;
            margin: 20px 0;

            &:hover,
            &:focus {
                text-decoration: underline;
            }

            & a {
                color: #000;
                text-decoration: none;
                text-transform: uppercase;
                background: #fff;
                padding: 5px 10px;
                border-radius: 10px;
            }
        }
    }
}

.uppgifter {

    &[data-hidden=true] .innehall {
        display: none;
    }

    & .textNuvarande {
        margin-top: 20px;
        font-style: italic;
    }

    & .fa-plus-circle {
        margin-left: 5px;
    }
}

.input-rubrik.not-active {
    color: #888;

    &:hover,
    &:focus {
        cursor: pointer;
        text-decoration: underline;
    }
}

.input form[aria-hidden=true] {
    display: none;
}

.jobbtitel,
.kontakt {
    text-align: center;
}

.markning,
.sidnr {
    text-align: right;
}

.val {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh auto;

    & .ikonhallare {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
        border: 1px solid #444;

        &:hover,
        &:focus {
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.4);
        }
    }

    &>button,
    &>div {
        margin: 10px;
    }
}

.hamtaAnnonsContainer {
    display: block;
    position: relative;
    text-align: center;
}

.annonsId-label {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.annonsId {
    border: 1px solid #000;
}

.hamtaAnnons {
    width: 40px;
    border-radius: 10px;
    background: #1a84ff;

    &:hover {
        border: 1px solid #000;
    }
}

.sida {
    //TODO: ändra outline när det går att tabba runt inne i sidan*/
    outline: none;
    background: #fff;
    position: relative;
    border: 1px solid #444;
    overflow: hidden;
    margin: 0 auto;
    max-height: 297mm;
    max-width: 210mm;
    min-height: 100vh;
    width: 80vw;
    padding: 5vw;
}

.beskrivning {
    text-transform: uppercase;
    font-size: 0.75em;
    background: #444;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 2px;
}

.tom {
    position: relative;
    margin-right: 0.2em;
    font-weight: bolder;
    font-style: italic;

    &:hover {
        border: 1px solid #000;
        border-radius: 10px;
        padding: 0 4px;
    }

    &:hover::after {
        content: "Du har ännu inte skrivit något om detta ord!";
        position: absolute;
        background: #000;
        color: #fff;
        font-size: 0.7em;
        width: 235px;
        padding: 2px;
        z-index: 20;
        left: 0;
        top: 100%;
    }
}

.forklaring {
    display: none;
    position: absolute;
    left: 0;
    top: -1.25em;
    background: #666;
    color: #fff;
    font-weight: bolder;
    font-size: 0.8em;
    padding: 0 5px;
    border-radius: 10px;
}

.motivering {
    margin-right: 0.2em;
    position: relative;
    transition: background 0.25s ease;

    &:hover {
        background: #eee;
        transition: background 0.25s ease;

        & .forklaring {
            display: inline;
        }
    }
}




@media print {

    body * {
        visibility: hidden;
    }

    .sida {
        height: 297mm;
        width: 210mm;
        padding: 2.5cm;
        position: absolute;
        top: 0;
        left: 0;
    }

    .sida,
    .sida * {
        visibility: visible;
        border: none;

    }

    .motivering:hover .forklaring {
        display: none;
    }

    .beskrivning {
        display: none;
    }

    .tom {
        display: none;
    }
}